.education-container {
    padding: 0% 10%;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100% !important;

    svg {
        color: white;
    }

    h1 {
        text-align: center;
    }
}
  
.education-container .education-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
  
.education-container {
    align-items: left;
    text-align: left;
}

.education-grid {
   align-items: center;
}

.education {
    text-align: center;
}

.education-item-1 {
    text-align: right;
}

.education-item-2 {
    text-align: left ;
}

#mobile-uci {
    display: none;
}

#desktop-uci {
    display: initial;
}

img.anteater-plushie {
    height: 100%;
    max-height: 300px;
    border-radius: 30px;
    background-color: #0064A4;
}

 
@media screen {
    @media (max-width: 1169px) {
        .education-container {
            display: block;
        }
    
        .education-container .education-grid {
            display: initial;
        }
        
        .education-container .education-grid .skill {
            padding-bottom: 5%;
        }

        .education-item-1 {
            text-align: inherit;
        }

        .education-item-2 {
            text-align: inherit;
        }

        #mobile-uci {
            display: initial;
        }

        #desktop-uci {
            display: none;
        }
    }

    @media (max-width: 768px) {
        .education-container {
            padding-left: 5%;
            padding-right: 5%;
        }
    }
    @media (max-width: 567px) {
        .education {
            font-size: 12px;
        }
    }
}